/*TYPE SELECTOR and RELATIVE UNIT OF MEASUREMENT*/
h1 {
    color: #000080;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*style font*/
    font-size: 2em;  /*relative unit of measurement*/
}

/*ID SELECTOR*/
#main_content {
    background-color: #f0f0f0;
    padding: 20px;
}

/*RELATIONAL SELECTOR (child selector)*/
header > p {
    font-style: italic; /*style font*/
}

/*COMBINATION SELECTOR*/
section ol li {
    list-style-type: none;
    color: #0073e6;
}

/*PSEUDO-CLASS ELEMENT */
a:hover {
    color: #ff0000;
}
    

