/*TYPE SELECTOR*/
h1 {
    color: navy;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;  /*relative unit of measurement*/
}

/*ID SELECTOR*/
#main_content {
    background-color: #f0f0f0;
    padding: 20px;
}

/*RELATIONAL SELECTOR (child selector)*/
header > p {
    font-style: italic;
}

/*PSEUDO-CLASS ELEMENT */
a:hover {
    color: #ff0000;
}
    

